<section class="content slimscroll">
    <ul class="topmenu">
        <li class="active">
            <a routerLink="/" data-target="#dashboard" data-parent=".topmenu">
                <span class="figure"><i class="ico-home2"></i></span>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <!-- Categories -->
        <li [ngClass]="{'active': isActive(['/category','/category-list'])}" routerLinkActive="active">
            <a href="javascript:void(0);" data-toggle="submenu" data-target="#categories" data-parent=".topmenu">
                <span class="figure"><i class="ico-building"></i></span>
                <span class="text">Categories</span>
                <span class="arrow"></span>
            </a>
            <ul id="categories" class="submenu"
                [ngClass]="{'collapse show': isActive(['/category','/category-list']), 'collapse': !isActive(['/category','/category-list'])}">
                <li routerLinkActive="active">
                    <a routerLink="/category"><span class="text">Add Category</span></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/category-list"><span class="text">Category List</span></a>
                </li>
            </ul>
        </li>
        <!-- Blog -->
        <li [ngClass]="{'active': isActive(['/add-blog','/blog'])}" routerLinkActive="active">
            <a href="javascript:void(0);" data-toggle="submenu" data-target="#blogs" data-parent=".topmenu">
                <span class="figure"><i class="ico-file"></i></span>
                <span class="text">Blog</span>
                <span class="arrow"></span>
            </a>
            <ul id="blogs" class="submenu"
                [ngClass]="{'collapse show': isActive(['/add-blog','/blog']), 'collapse': !isActive(['/add-blog','/blog'])}">
                <li routerLinkActive="active">
                    <a routerLink="/add-blog"><span class="text">Add Blog</span></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/blog"><span class="text">Blog List</span></a>
                </li>
            </ul>
        </li>

        <!-- Builders -->
        <li [ngClass]="{'active': isActive(['/builders'])}" routerLinkActive="active">
            <a href="javascript:void(0);" data-toggle="submenu" data-target="#builders" data-parent=".topmenu">
                <span class="figure"><i class="ico-building"></i></span>
                <span class="text">Builders</span>
                <span class="arrow"></span>
            </a>
            <ul id="builders" class="submenu"
                [ngClass]="{'collapse show': isActive(['/builders']), 'collapse': !isActive(['/builders'])}">
                <li routerLinkActive="active">
                    <a routerLink="/manage-builders"><span class="text">Add Builder</span></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/builders"><span class="text">Builder List</span></a>
                </li>
            </ul>
        </li>

        <!-- Properties -->
        <li [ngClass]="{'active': isActive(['/properties'])}"
            routerLinkActive="active">
            <a href="javascript:void(0);" data-toggle="submenu" data-target="#properties" data-parent=".topmenu">
                <span class="figure"><i class="ico-key"></i></span>
                <span class="text">Properties</span>
                <span class="arrow"></span>
            </a>
            <ul id="properties" class="submenu"
                [ngClass]="{'collapse show': isActive(['/properties']), 'collapse': !isActive(['/properties'])}">
                <li routerLinkActive="active">
                    <a routerLink="/manage-properties"><span class="text">Add Property</span></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/real-estate/properties"><span class="text">Property List</span></a>
                </li>
            </ul>
        </li>

        <!-- Leads -->
        <li [ngClass]="{'active': isActive(['/real-estate/leads'])}" routerLinkActive="active">
            <a href="javascript:void(0);" data-toggle="submenu" data-target="#leads" data-parent=".topmenu">
                <span class="figure"><i class="ico-users"></i></span>
                <span class="text">Leads</span>
                <span class="arrow"></span>
            </a>
            <ul id="leads" class="submenu"
                [ngClass]="{'collapse show': isActive(['/real-estate/leads']), 'collapse': !isActive(['/real-estate/leads'])}">
                <li routerLinkActive="active">
                    <a routerLink="/real-estate/leads"><span class="text">Leads List</span></a>
                </li>
            </ul>
        </li>
    </ul>
</section>