<section class="content slimscroll">
    <ul class="topmenu topmenu-responsive" data-toggle="menu">
        <li class="active">
            <a routerLink="/" data-target="#dashboard" data-parent=".topmenu">
                <span class="figure"><i class="ico-home2"></i></span>
                <span class="text">Dashboard</span>
            </a>
        </li>

        <li>
            <a href="javascript:void(0);" data-toggle="submenu" data-target="#categories" data-parent=".topmenu">
                <span class="figure"><i class="ico-building"></i></span>
                <span class="text">Categories</span>
                <span class="arrow"></span>
            </a>
            <ul id="categories" class="submenu collapse ">
                <li >
                    <a routerLink="/category" data-parent=".topmenu">
                        <span class="text">Add Category</span>
                    </a>
                </li>
                <li >
                    <a routerLink="/category-list" data-parent=".topmenu">
                        <span class="text">Category List</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="submenu" data-target="#blog" data-parent=".topmenu">
                <span class="figure"><i class="ico-address-book"></i></span>
                <span class="text">Blog</span>
                <span class="arrow"></span>
            </a>
            <ul id="blog" class="submenu collapse ">
                <li >
                    <a routerLink="/add-blog" data-parent=".topmenu">
                        <span class="text">New Blog</span>
                    </a>
                </li>
                <li >
                    <a routerLink="/blog" data-parent=".topmenu">
                        <span class="text">Blog</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="submenu" data-target="#real-estate" data-parent=".topmenu">
                <span class="figure"><i class="ico-building"></i></span>
                <span class="text">Builders</span>
                <span class="arrow"></span>
            </a>
            <ul id="real-estate" class="submenu collapse ">
                <li >
                    <a routerLink="/manage-builders" data-parent=".topmenu">
                        <span class="text">Manage Builder</span>
                    </a>
                </li>
                <li >
                    <a routerLink="/builders" data-parent=".topmenu">
                        <span class="text">Builder List</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" data-toggle="submenu" data-target="#real-estate-properties" data-parent=".topmenu">
                <span class="figure"><i class="ico-home"></i></span>
                <span class="text">Properties</span>
                <span class="arrow"></span>
            </a>
            <ul id="real-estate-properties" class="submenu collapse ">
                <li >
                    <a routerLink="/manage-properties" data-parent=".topmenu">
                        <span class="text">Manage Properties</span>
                    </a>
                </li>
                <li >
                    <a routerLink="/real-estate/properties" data-parent=".topmenu">
                        <span class="text">Properties List</span>
                    </a>
                </li>
            </ul>
        </li>

        <li>
            <a href="javascript:void(0);" data-toggle="submenu" data-target="#real-estate-leads" data-parent=".topmenu">
                <span class="figure"><i class="ico-users"></i></span>
                <span class="text">Leads</span>
                <span class="arrow"></span>
            </a>
            <ul id="real-estate-leads" class="submenu collapse ">
                <!-- <li >
                    <a routerLink="/manage-builders" data-parent=".topmenu">
                        <span class="text">Manage Leads</span>
                    </a>
                </li> -->
                <li >
                    <a routerLink="/real-estate/leads" data-parent=".topmenu">
                        <span class="text">Leads</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="text-center">
        <!-- <ng-adsense
            [adClient]="'ca-pub-5211687155804948'"
            [adSlot]="4445546890"
            [display]="'inline-block'"
            [width]="230"
            [height]="700">
        </ng-adsense> -->
    </div>
</section>